body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-family: 'Bungee Inline', cursive;
	font-size: 75px;
	margin:0;
	padding:0;
}
h3:first-of-type {
	margin-top:0;
}
h3 {
	margin-bottom:10px;
}
#gridSizeForm input[type="number"]{
	width:80px;
	margin-right:15px;
}
#pixelCanvas {
	margin:auto;
}
table {
    border-collapse: collapse;
    padding-top:5px;
}
table tr td {
	border: 1px solid black;
}
tr td {
	height:30px;
	width:30px;
}